{{ form_start(form) }}
<fieldset>
  <legend>
    Informations générales
  </legend>
  {{ form_widget(form.name) }}
  {{ form_widget(form.goal) }}
  {{ form_widget(form.competences) }}
  {{ form_widget(form.validation) }}
  {{ form_widget(form.program) }}
  {{ form_widget(form.organization) }}
  <article class="form-check d-flex justify-content-evenly">
    {{ form_row(form.certification) }}
    {{ form_row(form.cpf) }}
  </article>
  {{ form_widget(form.uploadedFile) }}
</fieldset>
<fieldset>
  <legend>
    Les plus de la formation
  </legend>
  {{ form_widget(form.moreInfo) }}
</fieldset>

<fieldset>
  <legend>
    Résumé de la formation
  </legend>
  <article class="d-flex justify-content-between flex-wrap">
    {{ form_widget(form.public) }}
    {{ form_widget(form.handicap) }}
    {{ form_widget(form.prerequisite) }}
    {{ form_widget(form.duration) }}
    {{ form_widget(form.intervenants) }}
    {{ form_widget(form.method) }}
  </article>
</fieldset>
<fieldset>
  <legend>
    Statistiques de la formation
  </legend>
  <article class="d-flex justify-content-between">
    {{ form_widget(form.participants) }}
    {{ form_widget(form.satisfaction) }}
    {{ form_widget(form.successRate) }}
  </article>
</fieldset>

<fieldset>
  <legend>
    Thèmes de la formation
  </legend>
  {{ form_widget(form.learningCategories) }}
</fieldset>
<fieldset>
  <legend>
    Statut de la formation
  </legend>
  <article class="form-check">
    {{ form_row(form.enabled) }}
  </article>
</fieldset>
<button class="btn btn-success" type="submit">
  {{ button_label|default('Enregistrer le formation') }}
</button>
{{ form_end(form) }}
