{% extends 'baseAdmin.html.twig' %}

{% block stylesheetsAdmin %}
    <link rel="stylesheet" href="{{ asset('css/adminFormations.css') }}">
{% endblock %}  
{% block main %}
<pre>
    {% set orphans = (formations | filter(e=>(e.learningCategories | length == 0 and  e.enabled)) ) %}
    {% set disableds = (formations | filter(e=>( not e.enabled)) ) %}

</pre>
     <section>


        <article class="titre d-flex justify-content-center">
            <label class="titres d-flex flex-column justify-content-center align-items-betwe">
                <input type="checkbox"  />
                <div >
                <h2 class="text-center">Ajouter un thème de formation</h2>
                </div>
                    {{ form_start(form, {attr: {class:"w-100 hidden"}})}}
                    <div class="">
                    {{ form_widget(form.name)}}

                    {{ form_row(form.formations, {attr:{class: form.formations | length > 0 ? "":"d-none"}})}}
                    </div>
                    <button class="btn btn-success btn-block">Valider</button>
                    {{ form_end(form)}}
            </label>
            <a  href="{{ path('app_formation_new') }}" class="  fs-2  text-center btn col d-flex flex-column justify-content-center d-block">
            <div class="">
            Ajouter une formation
          </div>
          </a> 
        </article>
        {% if disableds %}
            <div class="alert alert-info my-5 p-3">
                <h4>Liste des formations désactivées</h4>
                <ul>
                    {% for disabled in disableds %}
                        <li><a href="{{ path('app_formation_edit', {id: disabled.id})}}">{{ disabled.name }} <i class="fa-solid fa-pencil"></i></a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
             {% if orphans %}
           <article class="alert alert-warning my-5 p-3" role="alert">
                Attention des formations n'ont pas encore été classées dans un thème :
                <ul>
                {% for orphan in orphans %}
                    <li><a href="{{ path('app_formation_edit', {id: orphan.id})}}"> {{ orphan.name }}</a></li>
                {% endfor %}
                </ul>

            </article>  
     {% endif %}
        <article class="themes">
        {% for theme in learningCategory | sort((a,b)=>(a.name | lower > b.name | lower)) %}

            <article class="my-5">
                <div class="cat">
                    <div class="col text-center">
                    {% set formationsLength = theme.formations | length  %}
                        <h2>{{ theme.name | upper }} {{ formationsLength >= 0 ? "(" ~ formationsLength ~
                        " formation" : ""}}{{ formationsLength > 1 ? "s)": ")"}}
                        </h2>
                    </div>
                    <div class="container">
                        <div class="row">
                        <div class="col-sm">
                            <ul>
                            <pre>
                            </pre>

                           {% for formation in theme.formations %}
                            <li><a href="{{path("app_formation_show", {slug: formation.slug})}}">{{ formation.name}}  <i class="fa-solid fa-eye"></i></a> <a href="{{ path('app_formation_edit', {id: formation.id})}}"><i class="fa-solid fa-pencil"></i></a></li>
                           {% endfor %}

                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
             <p class="text-end">
             <a href="{{ path("app_learningCategory_delete", {id: theme.id})}}">
          <i class="fa-solid fa-trash-can fs-3" title="Supprimer le thème : {{theme.name}}"></i></a>
          </p>
      </article>
        {% endfor %}
        </article>
      </section>

{% endblock %}

{% block javascripts %}
    <script>
    document.querySelector(".titres > input[type='checkbox']").addEventListener("change", function(e){
        document.querySelector(".titres form").classList.toggle("hidden")
    })
    </script>
{% endblock %}