<nav class="navbar navbar-expand-lg">
  <!-- <article class="carre"></article> -->

  <article class="container-fluid">
    <!-- LOGO -->
    <a class="navbar-brand" href="{{ path('accueil') }}">
      <img class="logo" src="{{ asset('img/logo5.png') }}" alt="brand logo" />
    </a>

    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <article class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-3 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ path('formations') }}">Formations</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ path('accompagnement') }}">
            Accompagnement
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ path('actualites') }}">Actualités</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ path('contact') }}">Contact</a>
        </li>
      </ul>
    </article>
  </article>
</nav>
<p class="catchphrase ml12">
  DONNER DU SENS À VOS ACTIONS DE FORMATION
</p>
