{% extends 'base.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/actualites.css') }}" />
{% endblock %}

{% block main %}
  <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
    {% for new in news %}
      <li class="nav-item" role="presentation">
        <a class="nav-link {{ loop.index == 1 ? 'active' : '' }}"
          id="ex1-tab-{{ loop.index }}"
          data-mdb-toggle="tab"
          href="#ex1-tabs-{{ loop.index }}"
          role="tab"
          aria-controls="ex1-tabs-{{ loop.index }}"
          aria-selected="true">
          {{ new.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <!-- Tabs navs -->

  <!-- Tabs content -->
  <div class="tab-content" id="ex1-content">
    {% for new in news %}
      <div class="tab-pane fade show {{ loop.index == 1 ? 'active' : '' }}"
        id="ex1-tabs-{{ loop.index }}"
        role="tabpanel"
        aria-labelledby="ex1-tab-{{ loop.index }}">
        {% if new.image %}
          <img src="{{ asset('newsPictures/' ~ new.image) }}"
            alt="{{ new.title }}" />
        {% endif %}
        {{ new.description|nl2br }}
        <p class="mt-3 text-end fw-bold">
          Ajouté le {{ new.updatedAt|format_datetime('full', 'none', locale = 'fr') }}
        </p>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block javascripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.js"
    integrity="sha512-ij4XhOe1taShOQHGQAk3ymRErzvHZ50yt91mbGNs/pA5RQoWnzYQRdMrcNb3oRxhdsCH5mN1WHCQJy1/KXjjTA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
{% endblock %}
