{% extends 'base.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/contact.css') }}" />
{% endblock %}
{% block main %}
  <section class="text-center">
    <article>
      <h1>
        <strong>Un besoin ? Parlons-en !</strong>
      </h1>
      <p>
        Sens Actions vous conseille et vous accompagne dans toutes vos actions
        en santé/sécurité au travail, leviers de performances de votre
        entreprise.
      </p>

      <p>
        L’équipe de Sens Actions reste à votre écoute pour l’étude de vos
        besoins.
      </p>
    </article>
    <article>
      {% set flashes = app.flashes %}
      {% if flashes %}
        {% for type, message in flashes %}
          <article class="alert alert-{{ type }}" role="alert">
            <p>
              Merci, votre message :
            </p> <p>
              {{ message[0] }}
            </p>
            <p>
              A bien été envoyé.
            </p>
          </article>
        {% endfor %}
      {% else %}
        {{ form_start(form) }}
        <article class="row mb-3">
          <article class="col">
            {{ form_widget(form.firstname) }}
          </article>
          <article class="col">
            {{ form_widget(form.lastname) }}
          </article>
        </article>
        <article class="row mb-3">
          <article class="col">
            {{ form_widget(form.email) }}
          </article>
          <article class="col">
            {{ form_widget(form.phone) }}
          </article>
        </article>
        <article class="row mb-3">
          <article class="col">
            {{ form_label(form.contactType) }}
          </article>
          <article class="col d-block d-md-flex justify-content-around custom-control custom-radio">
            {{ form_widget(form.contactType) }}
          </article>
        </article>
        {{ form_widget(form.message) }}
        {{ form_widget(form.aggrements) }}
        {{ form_label(form.aggrements) }}

        <article class="d-grid justify-content-md-end">
          <button class="btn bouton" type="envoyer">Envoyer</button>
        </article>

        {{ form_end(form) }}
      {% endif %}
    </article>

    <article class="d-flex justify-content-center">
      <article class="container row d-flex align-items-center border-rounded">
        <article class="col">
          <h2>
            52 Avenue des Pébrons
          </h2>
          <h2>
            13008 Marseille
          </h2>
          <h5>
            06.77.20.23.17
          </h5>
          <h5>
            06.19.23.36.31
          </h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1453.9037203176592!2d5.3545611!3d43.213528!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c9c7d276c7f607%3A0x1f46ab4d20114e84!2s52%20Av.%20des%20Pebrons%2C%2013008%20Marseille!5e0!3m2!1sfr!2sfr!4v1658385999875!5m2!1sfr!2sfr"
            width="600"
            height="300"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </article>
        <img src="{{ asset('img/calanque9.jpg') }}"
          alt=""
          class="d-block col" />
      </article>
    </article>
  </section>
{% endblock %}
{% block javascripts %}
  <script></script>
{% endblock %}
