{% extends "base.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/formation.css')}}">
{% endblock %}
{% block main %}
     <section>
      <article>
        <article >
          <article class="elipse d-flex justify-content-center align-items-center text-white mx-auto " >

            <h1 class="text-center">{{formation.name}}</h1>
          </article>
        </article>
       
          <article >

              <article class="page">
                <article class="sticker p-3 text-center">
                  <p class="text"><i class="fa-solid fa-circle-info me-3 fs-2"></i></p>
         
                  <p>Formation mise à jour le {{ formation.updatedAt | date }}</p>
                  <p>{{ formation.moreInfo}}</p>
                </article>
            </article>
          </article>
      

<!-- satisfaction rating -->

      {% if not formation.participants  is null and not formation.satisfaction  is null and not formation.successRate  is null %}

        <article class="stats d-flex justify-content-around  align-items-center mt-5 ">
          <article class="text-center">
            <p>Personnes formées</p>
            <p class="nbOfStudents">{{ formation.participants}}</p>
          </article>

            <article class="text-center">
              <p>Satisfaction</p>
              <p class="rating">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>

                <!-- <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i> -->
              </p>
   
                
              </article>
              <article class="text-center">
                <p >Taux de réussite</p>
                <p><span class="successRate"></span> {{ formation.successRate}}%</p>
              </article>

          
        </article>
        {% endif %}
      </article>
      
      <article class=" d-lg-flex justify-content-around  my-5 prerequis">
        
        
        
        <article class="boite_liste_prerequis col-lg-5 p-3">
          
          <ul>
            <li>
              <i class="fa-solid fa-person"></i> Public</li>
            <p>{{ formation.public}}</p>



            <li class="prerequis santé"><i class="fa-brands fa-accessible-icon"></i>Handicap</li>
            <p class="texte_handicap">{{ formation.handicap}}</p>



            <li ><i class="fa-solid fa-book-open"></i>Pré-requis</li>
            <p >{{ formation.prerequisite}}</p>

            <li ><i class="fa-solid fa-hourglass"></i>Durée</li>
            <p >{{ formation.duration}}</p>
            
            <li ><i class="fa-solid fa-graduation-cap"></i>Intervenants</li>
            <p class="intervenants">{{ formation.intervenants | nl2br}}</p>


            <li><i class="fa-solid fa-user-gear" id="handicap"></i>Pédagogie</li>
            <p>{{ formation.method}}
              </p>
                   <li><i class="fa-solid fa-puzzle-piece"></i>Organisation</li>
            <p>{{ formation.organization | nl2br}}
              </p>
          </ul>

        </article>
            <article class="boite_formations_responsive">
      <strong>Objectif</strong>
      <p>    {{ formation.goal | nl2br }}</p> 

      <strong>Compétences</strong>
      <p>    {{ formation.competences | nl2br }}</p> 

      <strong>Validation</strong>
      <p>    {{ formation.validation | nl2br }}</p> 

      <strong>Programme</strong>
      <p>    {{ formation.program | nl2br }}</p> 
    </article>
        <article class="links d-flex flex-column justify-content-around col-lg-5">
        <input type="button" value="Télécharger la plaquette" onclick="window.location='{{asset("files/" ~ formation.file)}}';"    class="download  my-lg-0 my-2">
        <article class="contact d-flex justify-content-center align-items-center">
        <a  class="my-2 my-lg-0 text-decoration-none text-dark" href="{{ path("contact")}}">Contactez-nous</a>
        </article>
      </article>

     
      </article>
     </section>

<!-- tableau formations-->

<section class="boite_formations">

<!-- <h1 class="my-5 text-center">Nos Formations</h1> -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="objectif-tab"
          data-bs-toggle="tab"
          data-bs-target="#objectif-tab-pane"
          type="button"
          role="tab"
          aria-controls="objectif-tab-pane"
          aria-selected="true"
        >
          Objectif
        </button>
      </li>

<!-- compétence -->

      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="competence-tab"
          data-bs-toggle="tab"
          data-bs-target="#competence-tab-pane"
          type="button"
          role="tab"
          aria-controls="competence-tab-pane"
          aria-selected="false"
        >
          Compétences  
        </button>
<!-- validation  -->
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="validation-tab"
          data-bs-toggle="tab"
          data-bs-target="#validation-tab-pane"
          type="button"
          role="tab"
          aria-controls="validation-tab-pane"
          aria-selected="false"
        >
          Validation
        </button>
      </li>
      
<!-- onglet formation /programme-->
<li class="nav-item" role="presentation">
  <button
    class="nav-link"
    id="formation-tab"
    data-bs-toggle="tab"
    data-bs-target="#formation-tab-pane"
    type="button"
    role="tab"
    aria-controls="formation-tab-pane"
    aria-selected="false"
  >
    Programme
  </button>
</li>

     
    </ul>

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->



    <article class="tab-content" id="myTabContent">
      <article
        class="tab-pane fade show active p-lg-5 p-2 "
        id="objectif-tab-pane"
        role="tabpanel"
        aria-labelledby="objectif-tab"
        tabindex="0"
      >
 {{ formation.goal  | nl2br}}
      </article>
      <article
        class="tab-pane fade p-lg-5 p-2 "
        id="method-tab-pane"
        role="tabpanel"
        aria-labelledby="method-tab"
        tabindex="0"
      >
      </article>
      <article
        class="tab-pane fade p-lg-5 p-2 "
        id="validation-tab-pane"
        role="tabpanel"
        aria-labelledby="validation-tab"
        tabindex="0"
      >
      {{ formation.validation | nl2br   }}
      </article>

<!-- onglet competence -->

      <article
        class="tab-pane fade p-lg-5 p-2 "
        id="competence-tab-pane"
        role="tabpanel"
        aria-labelledby="competence-tab"
        tabindex="0"
      >
{{ formation.competences | nl2br}}
      </article>

<!-- onglet programme/formation -->
<article
        class="tab-pane fade p-lg-5 p-2 "
        id="formation-tab-pane"
        role="tabpanel"
        aria-labelledby="formation-tab"
        tabindex="0"
      >      {{ formation.program | nl2br }}

      </article>


      </article>
      <article
        class="tab-pane fade p-lg-5 p-2    overflow-auto"
        id="comment-tab-pane"
        role="tabpanel"
        aria-labelledby="comment-tab"
        tabindex="0"
      >
        <table class="table table-striped">
          <thead>
            <th>De</th>
            <th>Le</th>
            <th>
              Commentaire

              </span>
            </th>
          </thead>
          <tbody></tbody>
        </table>
      </article>
    </article>
  </section>

{% endblock %}
{% block javascripts %}

<script>
const satisfaction = {{ formation.satisfaction ?? 0 }}
</script>
<script src="{{ asset('js/formation.js') }}"></script>
{% endblock %}
